HOST, PORT = '0.0.0.0', 8888
RECV = 1024
ALLOWED_HOST = '127.0.0.1'
CONNECTIONS_IN_QUEUE = 0 # additional connections in queue
LOG_CONFIG = 'logging.yml'

# Language server and client use to speak. Client sends
# command, server run function and return result.
# LANGUAGE = {b'GET': lambda: b'RESULT'}
LANGUAGE = {}
